@using Kendo.Mvc.UI
@{
    Layout = null;
    int pos = ViewBag.MasterPOS;
}

<div class="container-fluid">
    <div id="toolB" class="k-toolbar k-grid-toolbar">
        <a id="@pos" class="k-button k-button-icontext k-add-button" href="javascript:void(0);" onclick="saveItem(this.id)"><span class="k-icon k-add"></span>NEW</a>
        <span class="button-dropdown button-dropdown" data-buttons="dropdown" style="height: 35px !important; font-size: 14px !important">
            <button class="button button-rounded">
                EXPORT <i class="fa fa-caret-down"></i>
            </button>
            <ul class="button-dropdown-list">
                <li><a id="pdfExportAdd_@pos" class="btn btn-default" onclick="exportToPdf(this.id)"><span class="fa fa-file-pdf-o"></span> PDF</a></li>
                <li><a id="xlsExportAdd_@pos" class="btn btn-default" onclick="exportToXls(this.id)"><span class="fa fa-file-excel-o"></span> EXCEL</a></li>
            </ul>
        </span>
        @*<a id="pdfExportAdd_@pos" class="btn btn-default" onclick="exportToPdf(this.id)"><span class="fa fa-file-pdf-o"></span> EXPORT</a>*@
        @*<a id="xlsExportAdd_@pos" class="btn btn-default" onclick="exportToXls(this.id)"><span class="fa fa-file-excel-o"></span> EXPORT</a>*@
    </div>
    @(Html.Kendo().ListView<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMLocationPOS_AddressInfo>()
          .Name("lVAddress_"+pos)
          .TagName("div")
          .ClientTemplateId("lvtpl_")
          .Editable(ed =>
          {
              ed.TemplateName("POSAddrInfoViewModelEditor");
          })
          .DataSource(dataSource => dataSource
              .Events(ev => ev.Error("addressInfoErrorHandler"))
              .Model(model => model.Id("POSAddrID"))
              .Create(create => create.Action("Create_Address", "POSAddressInfo", new { ParentID = pos }))
              .Read(read => read.Action("Read_Address", "POSAddressInfo", new { MasterPOSID = pos}))
              .Update(update => update.Action("Update_Address", "POSAddressInfo"))
          )
    )
</div>


<script id="lvtpl_" type="text/x-kendo-template">   
    <div>
        @(Html.Kendo().PanelBar()
              .Name("PanelBarAdd_#=MasterPOSID#")
              .Items(pbar =>
              {
                  pbar.Add().Text("TIME ZONE").HtmlAttributes(new { style = "font-weight: bold;" })
                      .Items(tz => { tz.Add().Text("${Time_Zone}"); }).Expanded(true);
                  
                  pbar.Add().Text("DBA NAME").HtmlAttributes(new { style = "font-weight: bold;" }).Content("${DBA_Name}").Expanded(true);
                  
                  pbar.Add().Text("PAYMENT ADDRESS").HtmlAttributes(new { style = "font-weight: bold;" }).Content("${Payment_Addr1}" + " " + "${Payment_Addr2}" + " " + "${Payment_City}" + " " + "${Payment_state}" + " " + "${Payment_Zip}").Expanded(true);
                  pbar.Add().Text("PHYSICAL ADDRESS").HtmlAttributes(new { style = "font-weight: bold;" }).Content("#=Physical_Addr1#" + " " + "${Physical_Addr2}" + " " + "${Physical_City}" + " " + "${Physical_state}" + " " + "${Physical_Zip}").Expanded(true);
                  pbar.Add().Text("NOTES").HtmlAttributes(new { style = "font-weight: bold;" }).Content("${Notes}").Expanded(true);

              })
              .ToClientTemplate()
              )
        <br />
        <div class="edit-buttons">
            <a class="k-button k-button-icontext k-edit-button" href="\\#"><span class="k-icon k-edit"></span>Edit</a>
        </div>
        <br />      
    </div>
    
    <p style="text-decoration:solid"></p>

</script>



<script>
    @*$(function () {
        var pos = @pos;
        alert(pos);
        var listViewA = $("#lVAddress_"+pos).data("kendoListView");

        $(".k-add-button").click(function (e) {
            listViewA.add();
            e.preventDefault();
        });
    });*@
    function saveItem(f) {
        var listViewA = $("#lVAddress_" + f).data("kendoListView");
        listViewA.add();
    }

    function exportToPdf(g) {
        var id = g.split("_")[1];
        if (id != undefined) {
            var listViewA = $("#lVAddress_" + id).data("kendoListView");
            var itemsCount = listViewA.dataSource.view().length;
            if (itemsCount > 0) {
                kendo.drawing.drawDOM($("#lVAddress_"+id))
                  .then(function (group) {
                      // Render the result as a PDF file
                      return kendo.drawing.exportPDF(group, {
                          paperSize: "auto",
                          margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                      });
                  })
                  .done(function (data) {
                      // Save the PDF file
                      kendo.saveAs({
                          dataURI: data,
                          fileName: "AddressInfo.pdf",
                          proxyURL: "@Url.Action("Pdf_Export_Save", "MasterPOS")"
                      });
                    });
            } else {
                alert("Invalid Export Operation.");
            }
        }
        console.log('Undefined ID property');
    }

    function exportToXls(g) {
        var id = g.split("_")[1];
        if (id != undefined) {
            var listViewA = $("#lVAddress_" + id).data("kendoListView");
            var data = listViewA.dataSource.view();
            if (data.length > 0) {
                var workbook = new kendo.ooxml.Workbook({
                    sheets: [
                        {
                            columns: [{ width: 200 }, { width: 200 }, { width: 300 }, { width: 300 }, { width: 300 }],
                            name:"Address Info",
                            rows: [
                              {
                                cells: [
                                    { value: "TIME ZONE" },
                                    { value: "DBA NAME" },
                                    { value: "PAYMENT ADDRESS" },
                                    { value: "PHYSICAL ADDRESS" },
                                    { value: "NOTES" }]
                              },
                              {
                                cells: [
                                    { value: data[0].Time_Zone },
                                    { value: data[0].DBA_Name },
                                    { value: data[0].Payment_Addr1 + " " + data[0].Payment_Addr2 + " " + data[0].Payment_City + " " + data[0].Payment_state + " " + data[0].Payment_Zip },
                                    { value: data[0].Physical_Addr1 + " " + data[0].Physical_Addr2 + " " + data[0].Physical_City + " " + data[0].Physical_state + " " + data[0].Physical_Zip },
                                    { value: data[0].Notes }
                                ]
                              }
                            ]
                        }
                    ]
                });
                kendo.saveAs({
                    dataURI: workbook.toDataURL(),
                    fileName: "AddresInfo.xlsx"
                });
            }
            else {
                alert("Invalid Export Operation.");
            }
        }
        console.log('Undefined ID property');
    }
</script>
