@using Kendo.Mvc.UI
@{
    Layout = null;
    int pos = ViewBag.MasterPOS;
}

<div class="container-fluid">
    <div class="k-toolbar k-grid-toolbar">
        <a id="@pos" class="k-button k-button-icontext k-add-button" href="#" onclick="saveItem(this.id)"><span class="k-icon k-add"></span>NEW</a>
    </div>
    @(Html.Kendo().ListView<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMLocationPOS_AddressInfo>()
          .Name("lVAddress_"+pos)
          .TagName("div")
          .ClientTemplateId("lvtpl_")
          .Editable(ed =>
          {
              ed.TemplateName("POSAddrInfoViewModelEditor");
          })
          .DataSource(dataSource => dataSource
              .Model(model => model.Id("POSAddrID"))
              .Create(create => create.Action("Create_Address", "POSAddressInfo", new { ParentID = pos }))
              .Read(read => read.Action("Read_Address", "POSAddressInfo", new { MasterPOSID = pos}))
              .Update(update => update.Action("Update_Address", "POSAddressInfo"))
          )
    )
</div>

 
<script id="lvtpl_" type="text/x-kendo-template">
    <div>
        @(Html.Kendo().PanelBar()
         .Name("PanelBarAdd_#=MasterPOSID#")
         .Items(pbar =>
         {
             pbar.Add().Text("TIME ZONE")
                 .Items(tz =>
                 {
                     tz.Add().Text("${Time_Zone}");
                 });
             pbar.Add().Text("DBA NAME").Content("${DBA_Name}");
             pbar.Add().Text("PAYMENT ADDRESS").Content("${Payment_Addr1}" + " " + "${Payment_Addr2}" + " " + "${Payment_City}" + " " + "${Payment_state}" + " " + "${Payment_Zip}");
             pbar.Add().Text("PHYSICAL ADDRESS").Content("#=Physical_Addr1#" + " " + "${Physical_Addr2}" + " " + "${Physical_City}" + " " + "${Physical_state}" + " " + "${Physical_Zip}");
             pbar.Add().Text("NOTES").Content("${Notes}");

         })
         .ToClientTemplate()
         )
        <br />
        <div class="edit-buttons">
            <a class="k-button k-button-icontext k-edit-button" href="\\#"><span class="k-icon k-edit"></span>Edit</a>
        </div>
        <br />      
    </div>
</script>



<script>
    @*$(function () {
        var pos = @pos;
        alert(pos);
        var listViewA = $("#lVAddress_"+pos).data("kendoListView");

        $(".k-add-button").click(function (e) {
            listViewA.add();
            e.preventDefault();
        });
    });*@
    function saveItem(f) {
        var listViewA = $("#lVAddress_"+f).data("kendoListView");
        listViewA.add();
    }
</script>
