@using Kendo.Mvc.UI
@model System.Collections.Generic.IEnumerable<MDM.WebPortal.Models.FromDB.ACCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<header class="main-header">
    <div class="container">
        <h1 class="page-title"></h1>
        <ol class="breadcrumb pull-right">
            <li><a href="@Url.Action("Index", "Home", new {area = ""})"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Categories</li>
        </ol>
    </div>
</header>

<div class="container-fluid">
    @(Html.Kendo().Grid<MDM.WebPortal.Areas.ActionCode.Models.ViewModels.VMCategoria>()
          .Name("Category")
          .ToolBar(tools =>
          {
              tools.Excel();
              tools.Create().Text("NEW CATEGORY");
          })
          .Excel(e =>
          {
              e.AllPages(true);
              e.FileName("ExportCategory");
          })
          .Columns(column =>
          {
              column.Bound(x => x.CatogoryID).Hidden(true);

              column.Bound(x => x.CategoryName).Width(110);

              column.Command(command =>
              {
                  command.Edit();
              }).Title("EDIT").Width(110);
          })
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(10)
              .Model(model =>
              {
                  model.Id(x => x.CatogoryID);
                  model.Field(x => x.CatogoryID).Editable(false);
              })
              .Events(events => events.Error("error_handler"))
              .Read(read => read.Action("Read_Category", "ACCategoryC"))
              .Update(update => update.Action("Update_Category", "ACCategoryC"))
              .Create(create => create.Action("Create_Category", "ACCategoryC"))
          )
          .Sortable()
          .Filterable()
          .Pageable(ps => ps.Refresh(true)
              .PreviousNext(true).PageSizes(true))
          .Groupable()
          .Reorderable(r => r.Columns(true))
          .Resizable(r => r.Columns(true))
          .Selectable(s => s.Enabled(true)
              .Type(GridSelectionType.Row)
              .Mode(GridSelectionMode.Single))
    )
</div>

<script src="~/Scripts/kendo/jszip.min.js"></script>
<script>
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            // Display the message
            alert(message);
            // Cancel the changes
            var grid = $("#Category").data("kendoGrid");
            grid.cancelChanges();
        }
    }
</script>