@model MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMFacilityData

<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading text-uppercase text-bold"><i class="fa fa-hospital-o"></i>facility</div>
        <div class="panel-body">
            <dl>
                <dd>
                    <label class="text-uppercase">npi number<sup class="text-danger">*</sup></label>
                </dd>
                <dt>
                    @Html.EditorFor(model => model.NPI_Number, new {htmlAttributes = new {@class = " form-control form-control1", @style = "width:98% !important; height:20.15px !important;"}})
                </dt>
            </dl>
        </div>

        <div class="panel-footer">
            <a class="k-button k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
            <a class="k-button k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
        </div>
        
    </div>
</div>

