@using Kendo.Mvc.UI
@model IEnumerable<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMFacilityData>

@{
    Layout = null;
    int pos = ViewBag.MasterPOS;
}

<div class="demo-section k-content wide">
    <a class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>NEW</a>
    <br/>
    <br/>
    @(Html.Kendo().ListView<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMFacilityData>(Model)
          .Name("lvFacility_"+pos)
          .TagName("div")
          .ClientTemplateId("facility_template")
          .DataSource(dataSource => dataSource
              .Events(ev => ev.Error("facInfoErrorHandler"))
              .Model(model => model.Id("FACInfoID"))
              .PageSize(1)
              .Create(create => create.Action("Create_Facility", "FacilityData", new { ParentID = pos }))
              //.Read(read => read.Action("Editing_Read", "ListView"))
              .Update(update => update.Action("Update_Facility", "FacilityData"))
          )
          .Editable(ed => ed.TemplateName("POSFacViewModelEditor"))
       )
</div>

<script type="text/x-kendo-tmpl" id="facility_template">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-offset-2 col-md-5">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border text-uppercase">npi number:</legend>
                    ${NPI_Number}.
                </fieldset>
            </div>
        </div>
       

        <div class="text-center edit-buttons">
            <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
        </div>
        <br />
    </div>
</script>

<script>
    $(function() {
        var listView = $("#lvFacility_"+@pos).data("kendoListView");
        $(".k-add-button").click(function(e) {
            listView.add();
            e.preventDefault();
        });
    });
</script>