@using Kendo.Mvc.UI
@model IEnumerable<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPOSLOCExtraData>

@{
    Layout = null;
    int pos = ViewBag.MasterPOS;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <a id="@pos" class="k-button k-button-icontext k-add-button" href="javascript:void(0);" onclick="saveInfo(this.id)"><span class="k-icon k-add"></span>NEW</a>
        </div>
        <div class="pull-right">
            @if (Model.Any())
            {
                <span class="button-dropdown button-dropdown" data-buttons="dropdown">
                    <button class="button button-rounded" style="height: 35px !important; font-size: 15px !important; color: #333; border: 1px solid #ccc !important; background-color: #fff;">
                        EXPORT <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="button-dropdown-list" >
                        <li><a id="exportInfoPdf_@pos" class="btn btn-default" onclick="exportToPdfD(this.id)"><span class="fa fa-file-pdf-o"></span> PDF</a></li>
                        <li><a id="exportInfoXls_@pos" class="btn btn-default" onclick="exportToXlsD(this.id)"><span class="fa fa-file-excel-o"></span> EXCEL</a></li>
                    </ul>
                </span>
            }
        </div>
    </div>
   
   
  <br/>
    @(Html.Kendo().ListView<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPOSLOCExtraData>(Model)
          .Name("lvInfo_" + pos)
          .TagName("div")
          .ClientTemplateId("lvInfo_template")
          .DataSource(dataSource => dataSource
              .Events(ev => ev.Error("extraInfoDetailErrorHandler"))
              .Model(model => model.Id("POSExtraDataID"))
              .PageSize(1)
              .Create(create => create.Action("Create_ExtraData", "POSExtraDatas", new {ParentID = pos}))
              .Update(update => update.Action("Update_ExtraData", "POSExtraDatas"))
          )
          .Editable(ed => ed.TemplateName("POSExtInfoViewModelEditor"))
          )
</div>

<script id="lvInfo_template" type="text/x-kendo-tmpl">
    <div class="container-fluid">
        <br />
        <div class="pull-right">
            <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
        </div>        
        <div class="row">
            <div class="col-md-11">
                <h3 class="right-line text-uppercase">Contact Info</h3>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-mobile-phone"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Phone Number</h3>
                        <p>${Phone_Number}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-mobile-phone"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Admission Number</h3>
                        <p>${AdmissionPhone}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-fax"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Fax Number</h3>
                        <p>${Fax_Number}</p>
                    </div>
                </div>
            </div>         
                   
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-globe"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Website</h3>
                        <p>${Website}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <h3 class="right-line text-uppercase">insurance info</h3>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-hashtag"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Medicare Number</h3>
                        <p>${MedicareNumber}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-hashtag"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Medicaid Number</h3>
                        <p>${Medicaid_Number}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-hashtag"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">UPIN Number</h3>
                        <p>${UPIN_Number}</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-hashtag"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">BCBS Number</h3>
                        <p>${BCBS_ID_Number}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <h3 class="right-line text-uppercase">more info</h3>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-dollar"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Scholarship Rate</h3>
                        <p>${ScholarshipRate}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-hourglass-start"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Average Lenght of Stay</h3>
                        <p>${AverageLenOfStay}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-hashtag"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">How Many UA Panels</h3>
                        <p>${HowManyUAPanels}</p>
                    </div>
                </div>
            </div>          
     </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-map-marker"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Paid to Patient State</h3>
                        <p>${PaidToPatientState}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-calendar"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Days open</h3>
                        <p>${how_many_days_week_open}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-bed"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Number of Beds</h3>
                        <p>${Number_of_beds}</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-info-circle"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Ancillary Outpatient Services</h3>
                        <p>${Ancillary_outpatient_services}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-hospital-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Laboratory Name</h3>
                        <p>${Lab_Name}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-map-pin"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">State of Medicaid or PhyGrp</h3>
                        <p>${State_of_MD_or_PhyGrp}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-clock-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">In Service Date-Time</h3>
                        <p>${In_Service_date_time}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-info"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">JACHO_CARF</h3>
                        <p>${JACHO_CARF}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-building"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Out or In Network</h3>
                        <p>${Out_of_Network_In_Network}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <h3 class="right-line text-uppercase">Manage Care</h3>
            </div>
            <div class="col-md-11 col-sm-10">
                <div class="text-icon">
                    <span class="icon-ar icon-ar-round icon-ar-inverse"><i class="fa fa-pencil-square-o"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">Contracts</h3>
                        <p>${Manage_care_contracts}</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</script>

<script>
   
function saveInfo(f) {
    var lVwInfo = $("#lvInfo_"+f).data("kendoListView");
    lVwInfo.add();
}

function exportToPdfD(g) {
    var id = g.split("_")[1];
    if (id != undefined) {
        kendo.drawing.drawDOM($("#lvInfo_" + id))
            .then(function (group) {
                // Render the result as a PDF file
                return kendo.drawing.exportPDF(group, {
                    paperSize: "auto",
                    margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                });
            })
            .done(function (data) {
                // Save the PDF file
                kendo.saveAs({
                    dataURI: data,
                    fileName: "ExtraInfo.pdf",
                    proxyURL: "@Url.Action("Pdf_Export_Save", "MasterPOS")"
                });
    });
    }
    console.log('Undefined ID property');
}

    function exportToXlsD(g) {
        var id = g.split("_")[1];
        if (id != undefined) {
            var listViewA = $("#lvInfo_"+id).data("kendoListView");
            var data = listViewA.dataSource.view();
            if (data.length > 0) {
                var workbook = new kendo.ooxml.Workbook({
                    sheets: [
                        {
                            columns: [{ width: 200 }, { width: 200 }, { width: 300 }, { width: 300 }, { width: 300 }],
                            name: "Contact Info",
                            rows: [
                              {
                                  cells: [
                                      { value: "PHONE NUMBER" },
                                      { value: "ADMISSION NUMBER" },
                                      { value: "FAX NUMBER" },
                                      { value: "WEBSITE" }
                                      ]
                              },
                              {
                                  cells: [
                                      { value: data[0].Phone_Number },
                                      { value: data[0].AdmissionPhone },
                                      { value: data[0].Fax_Number },
                                      { value: data[0].Website }
                                  ]
                              }
                            ]
                        },
                        {
                            columns: [{ width: 200 }, { width: 200 }, { width: 300 }, { width: 300 }, { width: 300 }],
                            name: "Insurance Info",
                            rows: [
                              {
                                  cells: [
                                      { value: "MEDICARE NUMBER" },
                                      { value: "MEDICAID NUMBER" },
                                      { value: "UPIN NUMBER" },
                                      { value: "BCBS NUMBER" }
                                  ]
                              },
                              {
                                  cells: [
                                      { value: data[0].MedicareNumber },
                                      { value: data[0].Medicaid_Number },
                                      { value: data[0].UPIN_Number },
                                      { value: data[0].BCBS_ID_Number }
                                  ]
                              }
                            ]
                        },
                        {
                            columns: [{ width: 200 }, { width: 200 }, { width: 200 }, { width: 200 }, { width: 200 }, { width: 200 }, { width: 200 }, { width: 200 }, { width: 200 }, { width: 200 }, { width: 200 }, { width: 200 }, { width: 300 }],
                            name: "More Info",
                            rows: [
                              {
                                  cells: [
                                      { value: "Scholarship Rate" },
                                      { value: "Average Lenght of Stay" },
                                      { value: "How Many UA Panels" },
                                      { value: "Paid to Patient State" },
                                      { value: "Days open" },
                                      { value: "Number of Beds" },
                                      { value: "Ancillary Outpatient Services" },
                                      { value: "Laboratory Name" },
                                      { value: "State of Medicaid or PhyGrp" },
                                      { value: "In Service Date-Time" },
                                      { value: "JACHO_CARF" },
                                      { value: "Out or In Network" },
                                      { value: "Contracts" }
                                  ]
                              },
                              {
                                  cells: [
                                      { value: data[0].ScholarshipRate },
                                      { value: data[0].AverageLenOfStay },
                                      { value: data[0].HowManyUAPanels },
                                      { value: data[0].PaidToPatientState },
                                      { value: data[0].how_many_days_week_open },
                                      { value: data[0].Number_of_beds },
                                      { value: data[0].Ancillary_outpatient_services },
                                      { value: data[0].Lab_Name },
                                      { value: data[0].State_of_MD_or_PhyGrp },
                                      { value: data[0].In_Service_date_time },
                                      { value: data[0].JACHO_CARF },
                                      { value: data[0].Out_of_Network_In_Network },
                                      { value: data[0].Manage_care_contracts }
                                  ]
                              }
                            ]
                        },
                    {
                        columns: [{ width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }, { width: 100 }],
                        name: "Questions",
                        rows: [
                          {
                              cells: [
                                  { value: "IS THE W9 ON FILE?" },
                                  { value: "DO YOU HAVE 24HRS NURSING?" },
                                  { value: "DO YOU HAVE LICENSES ON FILE?" },
                                  { value: "DO YOU HAVE MENTAL LICENSE?" },
                                  { value: "DO YOU HAVE REGULATIONS ON FILE?" },
                                  { value: "HAS FACILITY BILLED INSURANCE BEFORE?" },
                                  { value: "DO YOU HAVE COPIES OF ALL MANAGED CARE CONTRACTS ON FILE?" },
                                  { value: "DO YOU HAVE FORMS CREATED?" },
                                  { value: "DO YOU HAVE IN SERVICE SCHEDULED?" },
                                  { value: "DO YOU HAVE PORTAL TRAINING SETUP?" },
                                  { value: "DO YOU HAVE EMAIL_REGARDING_CONFERENCE_SET_UP?" },
                                  { value: "DO YOU SET UP THE DATABASE?" },
                                  { value: "IS THE AVAILAVILITY REQUEST SENT OUT?" },
                                  { value: "AVAILAVILITY COMPLETED?" },
                                  { value: "NAVINET REQUEST COMPLETED?" },
                                  { value: "FEE SCHEDULE IN BINDER?" },
                                  { value: "ACREDITATION ON FILE?" },
                                  { value: "HIGH COMPLEXITY CLIA?" },
                                  { value: "REGISTRATION ANALYZER?" }
                              ]
                          },
                          {
                              cells: [
                                  { value: (data[0].W_9_on_File == true)?"YES":"NO" },
                                  { value: (data[0].Have_24hrs_nursing == true)?"YES":"NO" },
                                  { value: (data[0].Licensure_on_File == true) ? "YES" : "NO" },
                                  { value: (data[0].Mental_License== true)?"YES":"NO" },
                                  { value: (data[0].Regulations_on_File== true)?"YES":"NO" },
                                  { value: (data[0].Has_facility_billed_ins_before== true)?"YES":"NO" },
                                  { value: (data[0].Copies_of_all_managed_care_contracts_on_file== true)?"YES":"NO" },
                                  { value: (data[0].Forms_created == true)?"YES":"NO" },
                                  { value: (data[0].In_Service_scheduled == true)?"YES":"NO"},
                                  { value: (data[0].Portal_training_setup == true)?"YES":"NO"},
                                  { value: (data[0].email_regarding_conference_set_up == true)?"YES":"NO"},
                                  { value: (data[0].Database_set_up == true)?"YES":"NO"},
                                  { value: (data[0].Availavility_request_sent_out == true)?"YES":"NO"},
                                  { value: (data[0].Availavility_completed == true)?"YES":"NO"},
                                  { value: (data[0].Navinet_request_completed == true)?"YES":"NO"},
                                  { value: (data[0].Fee_schedule_in_binder == true)?"YES":"NO"},
                                  { value: (data[0].AcreditationOnFile == true)?"YES":"NO"},
                                  { value: (data[0].HighComplexityCLIA == true)?"YES":"NO"},
                                  { value: (data[0].RegistrationAnalyzer == true)?"YES":"NO"}
                              ]
                          }
                        ]
                    }
                    ]
                    
                });
                kendo.saveAs({
                    dataURI: workbook.toDataURL(),
                    fileName: "ExtraInfo.xlsx"
                });
            }
            else {
                alert("Invalid Export Operation.");
            }
        }
        console.log('Undefined ID property');
    }
</script>
