@using Kendo.Mvc.UI
@model IEnumerable<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPOSLOCExtraData>
@{
    Layout = null;
    int pos = ViewBag.MasterPOS;
}

<div class="container-fluid">
    <a class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>Add new record</a>
    @(Html.Kendo().ListView<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPOSLOCExtraData>(Model)
          .Name("lvExtraData_" + pos)
          .TagName("div")
          .ClientTemplateId("template_lvExtraData")
          .DataSource(dataSource => dataSource
              .Model(model => model.Id("POSExtraDataID"))
              .PageSize(1)
              .Create(create => create.Action("Create_ExtraData", "POSExtraDatas",new { ParentID = pos }))
              //.Read(read => read.Action("Editing_Read", "POSExtraDatas"))
              .Update(update => update.Action("Update_ExtraData", "POSExtraDatas"))
              
          )
          .Editable()
      )
</div>


<script id="template_lvExtraData" type="text/x-kendo-template">
    <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading"></div>
            <div class="panel-body">
                
                ${Phone_Number} 
               
                ${Fax_Number}

                ${Website}

                ${AdmissionPhone}

                ${ScholarshipRate}

                ${AverageLenOfStay}
               
                ${HowManyUAPanels}

               ${PaidToPatientState}

               ${MedicareNumber}
                
               ${Number_of_beds}

               ${how_many_days_week_open}

               ${Ancillary_outpatient_services}

               ${Out_of_Network_In_Network}

               ${Lab_Name}

               ${BCBS_ID_Number}

               ${UPIN_Number} 

               ${Medicaid_Number}

               ${State_of_MD_or_PhyGrp}

               ${JACHO_CARF}

               ${In_Service_date_time}

               ${Manage_care_contracts}

            </div>
        </div>       


        <div class="edit-buttons">
            <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
            <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
        </div>
    </div>

</script>

<script>
    $(function() {
        var listViewL = $("#lvExtraData_" + @pos).data("kendoListView");

        $(".k-add-button").click(function(e) {
            listViewL.add();
            e.preventDefault();
        });
    });
</script>



