@using Kendo.Mvc.UI
@model IEnumerable<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPHYGrp>
@{
    Layout = null;
    int pos = ViewBag.MasterPOS;
}
<div class="container-fluid">
    <a class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>NEW</a>
    <br />
    <br />
    @(Html.Kendo().ListView<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPHYGrp>(Model)
          .Name("lvPhyInfo_"+pos)
          .TagName("div")
          .ClientTemplateId("lvPhyInfo_template")
          .DataSource(dataSource => dataSource
              .Model(model => model.Id("PHYGrpID"))
              .PageSize(1)
              .Create(create => create.Action("Create_Groups", "PHYGroups", new { ParentID = pos }))
              .Update(update => update.Action("Update_ExtraData", "POSExtraDatas"))
          )
          .Editable(ed => ed.TemplateName("POSPhyGViewModelEditor"))
    )
</div>
<script id="lvPhyInfo_template" type="text/x-kendo-tmpl">
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-primary box-panel-admin">
                    <div class="panel-heading text-uppercase"></div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>
                                        <i class="fa fa-users"></i> PHYSICIAN GROUP NAME:
                                    </th>
                                    <td>
                                        ${PHYGroupName}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <i class="fa fa-hashtag"></i> PHYSICIAN GROUP NPI NUMBER
                                    </th>
                                    <td>
                                        ${PHYGrpNPI_Num}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border text-uppercase">physicians:</legend>
                    <ul>
                        @foreach (var item in Model.First().Physicians)
                        {
                            <li>@item.ProviderName</li>
                        }
                    </ul>

                </fieldset>
            </div>
        </div>
        <br />
        <div class="pull-right">
            <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
        </div>
        <br />
        <br />
    </div>

</script>
<script>
    $(function() {
        var listView = $("#lvPhyInfo_"+@pos).data("kendoListView");

        $(".k-add-button").click(function(e) {
            listView.add();
            e.preventDefault();
        });
    });
</script>
