@using Kendo.Mvc.UI
@model IEnumerable<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPHYGrp>

@{
    Layout = null;
    int pos = ViewBag.MasterPOS;
}

<div class="container-fluid">
    <a class="k-button k-button-icontext k-add-button" href="#" onclick="savePhyGrp(@pos)"><span class="k-icon k-add"></span>NEW</a>
    <a id="@pos" class="btn btn-default" onclick="return openWindow(this.id);"><i class="fa fa-check-square-o"></i> CHOOSE</a>
    <br/>
    <br/>
    @(Html.Kendo().ListView<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPHYGrp>(Model)
    .Name("lV_"+pos)
    .TagName("div")
    .ClientTemplateId("template")
    .DataSource(dataSource => dataSource
        .Model(model => model.Id("PHYGrpID"))
        .PageSize(1)
        .Create(create => create.Action("Create_Groups", "PHYGroups", new { ParentID = pos }))
        .Read(read => read.Action("Read_POSGrp", "PHYGroups", new { MasterPOSID = pos }))
        .Update(update => update.Action("Update_Groups", "PHYGroups"))
    )
     .Editable(e => e.TemplateName("POSPhyGViewModelEditor"))
    )
</div>


<script type="text/x-kendo-tmpl" id="template">
    <div class="container-fluid">
       
        <br />
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-primary box-panel-admin">
                    <div class="panel-heading text-uppercase"></div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>
                                        <i class="fa fa-users"></i> PHYSICIAN GROUP NAME:
                                    </th>
                                    <td>
                                        ${PHYGroupName}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <i class="fa fa-hashtag"></i> PHYSICIAN GROUP NPI NUMBER
                                    </th>
                                    <td>
                                        ${PHYGrpNPI_Num}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @if (Model.Any())
            {
                <div class="col-md-5">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border text-uppercase">physicians:</legend>                        
                        <ul>
                            #for(var i = 0; i< Physicians.length; i++){#
                            <li>#:Physicians[i].ProviderName#</li>
                            #}#
                        </ul>

                    </fieldset>
                </div>
            }
        </div>

        <div class="edit-buttons">
            <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>            
        </div>
        <br />

    </div>
</script>

<script>
    @*$(function () {
        var listView = $("#lV_"+@pos).data("kendoListView");

        $(".k-add-button").click(function (e) {
            listView.add();
            e.preventDefault();
        });
    });*@
    function savePhyGrp(f) {
        alert(f);
        var lVPhyG = $("#lV_" + f).data("kendoListView");
        lVPhyG.add();
    }
</script>
