@model MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPOSFile

<div class="container-fluid">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border text-bold text-uppercase">file:</legend>
        <dl>
            <dt>
                @*@(Html.Kendo().Upload()
                      .Name("fichero")
                      .Multiple(false)
                      //.Async(a => a
                      //    .Save("Saveds", "POSFiles")
                      //    .AutoUpload(true) 
                      //)
                      //.TemplateId("fileTemplate") Me esta dando un error que tengo que corregir
                      .ToClientTemplate()
                  )*@
                <input name="files" id="files" type="file"/>
            </dt>
        </dl>

        <dl>
            <dd>
                <label class="text-uppercase">description<sup class="text-danger">*</sup></label>
            </dd>
            <dt>
                @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@style = "width:100%; border-radius:3px !important; height:26px;"}})
            </dt>
        </dl>

        <dl>
            <dd>
                <label class="text-uppercase">pos classification<sup class="text-danger">*</sup></label>
            </dd>
            <dt>
                @(Html.Kendo().DropDownListFor(x => x.FileTypeID)
                      .AutoBind(false)
                      .DataTextField("FileType_Name")
                      .DataValueField("FileTypeID")
                      .HtmlAttributes(new {style = "width: 100%"})
                      .DataSource(source =>
                      {
                          source.Custom()
                              .ServerFiltering(true)
                              .ServerPaging(true)
                              .PageSize(80)
                              .Type("aspnetmvc-ajax")
                              .Transport(transport =>
                              {
                                  transport.Read("Read_PosFileType", "FileTypeIs");
                              })
                              .Schema(schema =>
                              {
                                  schema.Data("Data")
                                      .Total("Total");
                              });
                      })
                      )
            </dt>
        </dl>

        <div class="edit-buttons">
            <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span>Save</a>
            <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span>Cancel</a>
        </div>
    </fieldset>
</div>



