@using Kendo.Mvc.UI

    @{
        Layout = null;
        int pos = ViewBag.MasterPOS;
    }

    <div class="container-fluid">
        <!-- The following markup contains the `Add new record` button -->
        <div class="">
            <a class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>NEW</a>
        </div>
        <br/>
        @(Html.Kendo().ListView<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMFACInfoData>()
              .Name("listVLicense_"+pos)
              .TagName("div")
              .ClientTemplateId("listVLicense-template")
              .Editable(ed =>
              {
                  ed.TemplateName("POSLicenseViewModelEditor");
              })
              .DataSource(dataSource => dataSource
                  //Specify that the ProductID property is the unique identifier of the model.
                  .Model(model => model.Id("InfoDataID"))
                  .Create(create => create.Action("Create_License", "FACInfoDatas", new { ParentID = pos }))
                  .Read(read => read.Action("Read_License", "FACInfoDatas", new { MasterPOSID = pos }))
                  .Update(update => update.Action("Update_License", "FACInfoDatas"))
              )
      )
    </div>

<script id="listVLicense-template" type="text/x-kendo-template">
        <div class="container-fluid">
            <div class="panel panel-primary">
                <div class="panel-heading text-uppercase"> <i class="fa fa-info-circle"></i> GENERAL INFORMATION</div>
                <div class="table-responsive">
                    <table class="table table-striped">                   

                        <tr>
                            <th>
                                LICENSE TYPE
                            </th>
                            <td>
                                ${LicType}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                LICENSE NUMBER
                            </th>
                            <td>
                                ${LicNumber}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                LICENSE STATE
                            </th>
                            <td>
                                ${StateLic}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                LICENSE EFFECTIVE DATE
                            </th>
                            <td>
                                ${LicEffectiveDate}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                LICENSE EXPIRE DATE
                            </th>
                            <td>
                                ${LicExpireDate}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                CLIA NUMBER
                            </th>
                            <td>
                                ${LicNumCLIA_waiver}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                CLIA EFFECTIVE DATE
                            </th>
                            <td>
                                ${CLIA_EffectiveDate}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                CLIA EXPIRE DATE
                            </th>
                            <td>
                                ${CLIA_ExpireDate}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                TAXONOMY
                            </th>
                            <td>
                                ${Taxonomy}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-edit-button" href="\\#"><span class="k-icon k-edit"></span>Edit</a>
            </div>
            <br />
            <br />
        </div>
    </script>

    <script>
        $(function () {
            var listViewL = $("#listVLicense_"+@pos).data("kendoListView");

            $(".k-add-button").click(function (e) {
                listViewL.add();
                e.preventDefault();
            });
        });
    </script>