@model MDM.WebPortal.Areas.PlaceOfServices.Models.ViewModels.VMFileType

<div class="panel panel-primary">
    <div class="panel-body">
        @using (Html.BeginForm("Create", "FileTypeIs", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr/>

                <div class="form-group">
                    <div class="col-md-11">
                        <label class="control-label">FILE TYPE <sup class="text-danger">*</sup></label>
                        @Html.EditorFor(model => model.FileType_Name, new {htmlAttributes = new {id = "tbType", @class = "form-control form-control1", @style = "height:25px !important;"}})
                        @Html.ValidationMessageFor(model => model.FileType_Name, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="text-center">
                    <div class="form-group">
                        <button type="button" class="btn btn-ar btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i>Close</button>
                        <button id="btnSave" type="submit" class="btn btn-ar btn-primary" onclick="return CheckRequiredType();"><i class="fa fa-cloud-upload"></i> Save</button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

<script>
    function CheckRequiredType() {
       
        if ($.trim($("#tbType").val().length) == 0) {
            $('#tbType').notify("This field is required.", { position: "bottom left" });
            $('#tbType').focus();
            return false;
        }
        else {
            return true;
        }
    }
</script>
