@using System.Collections.Generic
@using Kendo.Mvc.UI
@model IEnumerable<MDM.WebPortal.Models.FromDB.Manager_Type>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title"></h1>
        <ol class="breadcrumb pull-right">
            <li><a href="@Url.Action("Index", "Home", new {area = ""})"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Manager_Classification</li>
        </ol>
    </div>
</header>

<div class="container-fluid">
    @(Html.Kendo().Grid<MDM.WebPortal.Areas.ManagerDBA.Models.ViewModels.VMManager_Type>()
          .Name("Classification")
          .ToolBar(tools =>
          {
              tools.Excel();
              tools.Create().Text("NEW CLASSIFICATION");
          })
          .Excel(e => { e.AllPages(true);
                          e.FileName("Export_ManagerType");
          })
          .Columns(columns =>
          {
              columns.Bound(x => x.ManagerTypeID).Hidden(true);
              columns.Bound(x => x.Name).Width(110);
              columns.Bound(x => x.Active).Width(110);
              columns.Command(command =>
              {
                  command.Edit();
              }).Title("COMMANDS").Width(110);
          })
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(10)
              .Model(model =>
              {
                  model.Id(x => x.ManagerTypeID);
                  model.Field(x => x.ManagerTypeID).Editable(false);
              })
              .Events(events => events.Error("error_handler"))
              .Read(read => read.Action("Read_Type", "Manager_Type"))
              .Update(update => update.Action("Update_Type", "Manager_Type"))
              .Create(create => create.Action("Create_Type", "Manager_Type"))
          )
          .Sortable()
          .Filterable()
          .Pageable(ps => ps.Refresh(true)
              .PreviousNext(true).PageSizes(true))
          .Groupable()
          .Reorderable(r => r.Columns(true))
          .Resizable(r => r.Columns(true))
          .Selectable(s => s.Enabled(true)
              .Type(GridSelectionType.Row)
              .Mode(GridSelectionMode.Single)) 
          )
</div>
<script src="~/Scripts/kendo/jszip.min.js"></script>
<script>
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            // Display the message
            alert(message);
            // Cancel the changes
            var grid = $("#Classification").data("kendoGrid");
            grid.cancelChanges();
        }
    }
</script>