@model IEnumerable<MDM.WebPortal.Models.Identity.AreaSystem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title"></h1>
        <ol class="breadcrumb pull-right">
            <li><a href="@Url.Action("Index", "Home", new {area = ""})"> <i class="fa fa-home"></i> HOME</a></li>
            <li class="active">Areas</li>
        </ol>
    </div>
</header>

<div class="container-fluid">
    @(Html.Kendo().Grid<MDM.WebPortal.Models.ViewModel.VMAreaSystems>()
          .Name("GridAreas")
          .ToolBar(tool =>
          {
              tool.Create().Text("NEW AREA");
              tool.Excel();
          })
          .Excel(e =>
          {
              e.AllPages(true);
              e.FileName("ExprotAreas");
          })
          .Columns(column =>
          {
              column.Bound(x => x.AreaID).Hidden(true);

              column.Bound(x => x.AreaName).Width(110);

              column.Command(x =>
              {
                  x.Edit();
              }).Title("ACTIONS").Width(110);
          })
          .DataSource(datasource => datasource
              .Ajax()
              .ServerOperation(true)
              .PageSize(10)
              .Model(model =>
              {
                  model.Id(x => x.AreaID);
                  model.Field(x => x.AreaID).Editable(false);
              })
              .Events(events => events.Error("error_handler"))
              .Read(read => read.Action("Read_Area", "AreaSystems"))
              .Create(create => create.Action("Create_Area", "AreaSystems"))
              .Update(update => update.Action("Update_Area", "AreaSystems"))
          )
          .Filterable()
          .Pageable(ps => ps.Refresh(true)
              .PreviousNext(true).PageSizes(true))
          .Sortable()
          .Groupable()
          )
</div>
<script>
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            // Display the message
            alert(message);
            // Cancel the changes
            var grid = $("#GridAreas").data("kendoGrid");
            grid.cancelChanges();
        }
    }
</script>