@using Kendo.Mvc.UI
@model IEnumerable<MDM.WebPortal.Models.FromDB.Lev_of_Care>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title"></h1>
        <ol class="breadcrumb pull-right">
            <li><a href="@Url.Action("Index", "Home", new {area = ""})"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Level of Care</li>
        </ol>
    </div>
</header>

<div class="container-fluid">
    @(Html.Kendo().Grid<MDM.WebPortal.Areas.PlaceOfServices.Models.ViewModels.VMLevelOfCare>()
  .Name("NivelDeCuidado")
  .ToolBar(tool =>
  {
      tool.Create().Text("NEW LEVEL OF CARE");
      tool.Excel();
  })
  .Excel(e =>
  {
      e.AllPages(true);
      e.FileName("ExportLevels");
  })
  .Columns(column =>
  {
      column.Bound(x => x.LevOfCareID).Hidden(true);

      column.Bound(x => x.LevOfCareName).Width(110);

      column.Command(command =>
      {
          command.Edit();
      }).Width(110).Title("ACTIONS");
  })

  .DataSource(datasource => datasource
     .Ajax()
     .ServerOperation(true)
     .PageSize(10)
     .Model(model =>
     {
         model.Id(service => service.LevOfCareID);
         model.Field(service => service.LevOfCareID).Editable(false);
     })
     .Events(events => events.Error("error_handler"))
     .Create(create => create.Action("Create_Level", "LevelOfCare"))
     .Read(read => read.Action("Read_Level", "LevelOfCare"))
     .Update(update => update.Action("Update_Level", "LevelOfCare"))
  )

  .Filterable()
  .Groupable()
  .Sortable()
  .Pageable(ps => ps.Refresh(true)
      .PreviousNext(true).PageSizes(true))
    )
</div>

<script src="~/Scripts/kendo/jszip.min.js"></script>
<script>
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            // Display the message
            alert(message);
            // Cancel the changes
            var grid = $("#NivelDeCuidado").data("kendoGrid");
            grid.cancelChanges();
        }
    }
</script>
