@model MDM.WebPortal.Models.FromDB.MDM_POS_ListName

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MDM_POS_ListName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PosName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PosName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MDMPOS_ListNameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
