@using MDM.WebPortal.Areas.Credentials.Models.ViewModel
@model IEnumerable<MDM.WebPortal.Models.FromDB.MasterFile>

@{
    int corp = ViewBag.CorpID;
}

<div class="container-fluid">
    @if (ViewBag.Error != null)
    {
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-border alert-danger">
                    @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
                    <strong><i class="fa fa-warning"></i> Warning!</strong> @ViewBag.Error
                </div>
            </div>
        </div>
    }
    else
    {
        int pos = ViewBag.MasterPOS;
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">DOCUMENTS:</legend>

            @if (!Model.Any())
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="alert alert-info">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
                            <strong><i class="fa fa-bullhorn"></i> Info!</strong> This Corporation doesn't have attachments.
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-2">
                        <ul>
                            <li>
                                @Html.ActionLink(@item.Description, "Download", new {ImageName = item.FileName})
                            </li>
                        </ul>
                    </div>
                }
            </div>

            <div class="pull-right">
                <button class="btn btn-primary btn-lg btn-ar" data-toggle="modal" data-target="#myModal3">
                    NEW
                </button>
            </div>
        </fieldset>

        <div class="modal fade in" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title text-bold text-uppercase" id="myModalLabel">Upload a File</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("_SaveCorpFile", new VMCorpFiles { corpID = corp, MasterPOSID = pos})
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    }
</div>
