@using Kendo.Mvc.UI
@model IEnumerable<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPOSFile>

@{
    Layout = null;
    int pos = ViewBag.MasterPOS;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <a id="@pos" class="btn btn-sm btn-default" href="\\#" onclick="return activeWdwPosFile(this.id);"><span class="fa fa-cloud-upload"></span> UPLOAD</a>
        </div>
        <div class="col-md-offset-2 col-md-4">
            <div class="input-group">
                <input id="sCriteria" type="text" class="form-control form-control1" style="height: 34px !important;" placeholder="Search files...">
                <span class="input-group-btn">
                    <button class="btn btn-ar btn-primary" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
            @*<input type="text" class="form-control form-control1" style="height: 23px !important;"/>*@
        </div>
        
    </div>
    

    
    <br/>
    <br/>
    @(Html.Kendo().ListView<MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPOSFile>()
          .Name("lvFiles_" + pos)
          .TagName("div")
          .ClientTemplateId("templateListV")
          //.Editable(editable => { editable.TemplateName("UploadPOSFiles"); })
          .DataSource(dataSource =>
          {
              //dataSource.Model(model =>
              //{
              //    model.Id(x => x.FileID);
              //    model.Field(x => x.FileID).Editable(false);
              //    model.Field(x => x.MasterPOSID).Editable(false);
              //});
              dataSource.Read(read => read.Action("Read_POSFiles", "POSFiles", new {MasterPOSID = pos}));
              //dataSource.Create(create => create.Action("Upload_File", "POSFiles", new { ParentID = pos }));
              dataSource.PageSize(21);
          })
          .Pageable()
          
          )
</div>

<script type="text/x-kendo-tmpl" id="templateListV">
    <div class="product">      
        <img src="@Url.Content("#=addExtensionClass(FileExtension)#")" />        
        <a href="@Url.Action("Download", "POSFiles")?ImageName=#:FileName#"><i class="fa fa-download"></i></a>      
        <a class="" href="void:javascript(0);" id="#:FileID#" onclick="desactivateFile(this.id)"><i class="fa fa-trash"></i></a>
        <h3>#:Description#</h3>
    </div>
</script>

<script type="text/javascript">
    function addExtensionClass(extension) {
        switch (extension) {
            case '.jpg':
            case '.img':
            case '.png':
            case '.gif':
            case '.jpeg':
                return "/content/web/upload/jpg.png";
            case '.doc':
            case '.docx':
                return "/content/web/upload/doc.png";
            case '.xls':
            case '.xlsx':
                return "/content/web/upload/xls.png";
            case '.pdf':
                return "/content/web/upload/pdf.png";
            case '.zip':
            case '.rar':
                return "/content/web/upload/zip.png";
            case '.rtf':
                return "/content/web/upload/default.png";
            default:
                return "/content/web/upload/default.png";
        }
    }

    $("#sCriteria").on({
        keydown: function () {
            var valor = $("#sCriteria").val();
            var listView = $("#lvFiles_@pos").data("kendoListView");
            if ($.trim(valor).length >= 3) {
                listView.dataSource.filter({ field: "Description", operator: "contains", value: valor });
            } if ($.trim(valor).length === 0) {
                listView.dataSource.filter({});
            }
        }
    });

    $(".btn-primary").on({
        click: function () {
            var valor = $("#sCriteria").val();
            var listView = $("#lvFiles_@pos").data("kendoListView");
            if (valor !== "") {
                listView.dataSource.filter({ field: "Description", operator: "contains", value: valor });
            } else {
                listView.dataSource.filter({});
            }
        }
    });

    function desactivateFile(f) {
        var domainName = "http://" + window.location.host.toString();
        $.ajax({
            type: "POST",
            url: domainName + '/POSFiles/DisableFiles',
            data: {
                FileID: f
            },
            success: function (result) {
                console.log(result);
                switch (result) {
                    case "You need to choose a file.":
                        alert(result);
                        break;
                    case "This file is no longer exist in our system.":
                        alert(result);
                        break;
                    case "Something failed. Please try again!":
                        alert(result);
                        break;
                    default:
                        var lv = $("#lvFiles_" + result).data("kendoListView");
                        lv.dataSource.read();
                        break;
                }
            },
            error: function (xhr, ajaxOptions, thrwnError) {
                alert('Something failed. Please try again!');
            }
        });
    }
</script>

<style>
   .product {
        float: left;
        position: relative;
        width: 111px;
        height: 120px;
        margin: 0 5px;
        padding: 0;
    }
    .product img {
        width: 48px;
        height: 48px;
    }
    .product h3 {
        margin: 7px;
        padding: 3px 5px 0 0;
        max-width: 96px;
        overflow: hidden;
        line-height: 1.1em;
        font-size: .9em;
        font-weight: normal;
        text-transform: uppercase;
        color: #999;
    }
    .product p {
        visibility: hidden;
    }
    .product:hover p {
        visibility: visible;
        position: absolute;
        width: 48px;
        height: 48px;
        top: 0;
        margin: 0;
        padding: 0;
        line-height: 110px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,0.75);
        transition: background .2s linear, color .2s linear;
        -moz-transition: background .2s linear, color .2s linear;
        -webkit-transition: background .2s linear, color .2s linear;
        -o-transition: background .2s linear, color .2s linear;
    }
    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

 

    #example .file-heading {
        font-family: Arial;
        font-size: 1.1em;
        display: inline-block;
        float: left;
        width: 60%;
        margin: 0 0 0 20px;
        height: 25px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #example .file-name-heading {
        font-weight: bold;
        margin-top: 20px;
    }

    #example .file-size-heading {
        font-weight: normal;
        font-style: italic;
    }

    li.k-file .file-wrapper .k-upload-action {
        position: absolute;
        top: 0;
        right: 0;
    }

    li.k-file div.file-wrapper {
        position: relative;
        height: 75px;
    }
</style>